.container {
    margin: 50px 0;
}

.card {
    margin: 0 2% !important;
}

.infected {
    border-bottom: 10px solid rgba(17, 17, 217, 0.5);
}

.recovered {
    border-bottom: 10px solid rgba(38, 219, 38, 0.5);
}

.deaths {
    border-bottom: 10px solid rgba(236, 31, 31, 0.5);
}

@media (max-width: 770px) {
    .card {
      margin: 2% 0% !important;
    }
}